@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1265px;
  width: 100%;
  margin: 0 auto;
}
